.fixContainer{
    margin-top: 120px;
}

.glyphicon{color: grey; font-size: 18px;}
.glyphicon-floppy-remove {
    color: red;
}

.bg-colorSite {
    background-color: #406d84 !important;
}

.btn {
    font-size: 18px;
}